@import "tailwindcss";

@theme{
  --breakpoint-xs:480px;
  --font-zalando:"Zalando", "sans-serif";
  --font-exorts:"Exorts", "sans-serif";
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* globals.css */

/* Only applies to elements with .scroll-bar */
.scroll-bar {
  overflow: auto;
}

/* width of the scrollbar */
.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* background of the scrollbar */
.scroll-bar::-webkit-scrollbar-track {
  background: #000;          /* black background */
  border-radius: 999px;      /* fully rounded */
}

/* the draggable part */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #fff;          /* white scroll head */
  border-radius: 999px;      /* rounded thumb */
}

/* hover effect */
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}


/* ZalandoSansExpanded-Italic-VariableFont_wght
ZalandoSansExpanded-VariableFont_wght */

@font-face {
  font-family: "Zalando";
  src: url("/fonts/ZalandoSansExpanded-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Zalando";
  src: url("/fonts/ZalandoSansExpanded-VariableFont_wght.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Exorts";
  src: url("/fonts/exortscompressed-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
